.search-sort-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (max-width: 400px) {
  .search-sort-container {
    flex-direction: column;
  }

  .coin-search {
    margin: auto;
  }
}
