.coin-container {
  display: flex;
  justify-content: center;
  font-size: 15px;
}

.coin-row {
  display: flex;
  flex-direction: row;
  justify-items: start;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid rgb(92, 92, 92);
  width: 70vw;
  overflow: hidden;
}

.coin {
  display: flex;
  align-items: center;
  padding-right: 24px;
  min-width: 30%;
}

.coin a {
  text-decoration: none;
}

.coin a:hover,
.coin a:focus {
  text-decoration: underline;
}

.coin img {
  height: 20px;
  width: 20px;
  margin-right: 20px;
}

.coin h3,
.coin a {
  font-size: 15px;
  min-width: 60%;
  max-width: 250px;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: left;
}

.coin-symbol {
  text-transform: uppercase;
  max-width: 20%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.coin-data {
  display: flex;
  text-align: center;
  justify-content: space-between;
  width: 100%;
}

.coin-price {
  width: 15%;
  text-align: right;
}

.coin-volume {
  width: 30%;
  text-align: right;
}

.coin-marketCap {
  width: 30%;
  text-align: right;
}

.coin-percent {
  width: 80px;
  margin-left: auto;
  margin-right: 20px;
}

.red {
  color: #f00606;
}

.green {
  color: #11d811;
}

@media screen and (max-width: 1000px) {
  .coin-marketCap {
    display: none;
  }

  .coin-percent {
    margin-left: 2%;
    margin-right: 20px;
  }

  .coin {
    min-width: 40%;
  }
}

@media screen and (max-width: 750px) {
  .coin-row {
    width: 90vw;
  }
}
@media screen and (max-width: 580px) {
  .coin-volume {
    display: none;
  }

  .coin {
    min-width: 60%;
  }
}
@media screen and (max-width: 450px) {
  .coin-percent {
    display: none;
  }

  .coin {
    min-width: 70%;
  }

  .coin-price {
    width: 100px;
    text-align: right;
  }

  .coin-symbol {
    width: 100px;
  }

  .coin h3 {
    width: 105px;
  }
}
