.information-bar {
  font-size: 1.2rem;
  font-weight: bold;
  border-bottom: 1px solid var(--grey);
}

.information-bar h3 {
  font-size: 1rem !important;
}

.i-icon {
  background-color: white;
  border-radius: 50%;
}

.information-bar .coin-volume,
.information-bar .coin-marketCap {
  margin-right: 10px;
}

.watch-list-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
