.information-bar {
  font-size: 1.2rem;
  font-weight: bold;
}

.information-bar h3 {
  font-size: 1rem !important;
}

.information-bar .coin-volume,
.information-bar .coin-marketCap {
  margin-right: 10px;
}
