.nav-bar {
  display: flex;
  border-top: 1px solid rgb(92, 92, 92);
  border-bottom: 1px solid rgb(92, 92, 92);
  width: 70vw;
  height: 80px;
  margin-bottom: 30px;
}

.logo-container,
.logo-container a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-decoration: none;
}

.logo-container h1 {
  font-size: 17px;
  font-weight: bold;
}

.logo-container img {
  height: 100%;
  padding: 18px 5px;
}

/* Nav links */
.nav-links {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
}

.nav-links li {
  margin-left: 25px;
  font-size: 16px;
  font-weight: bold;
}

.nav-links li:hover,
.nav-links li:focus {
  color: #8dc647;
}

/* Currency selection div */
.selection-options {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding: 10px;
}

.currency-selector {
  height: 50px;
  border: none;
  margin: auto;
  font-size: 14px;
}

.currency-selector:hover,
.currency-selector:focus {
  outline: none;
}

@media screen and (max-width: 750px) {
  .logo-container h1 {
    display: none;
  }

  .nav-bar {
    width: 90vw;
  }
}

@media screen and (max-width: 450px) {
  .nav-links li {
    font-size: 14px;
  }
}
@media screen and (max-width: 400px) {
  .home-nav {
    display: none;
  }

  .nav-bar {
    margin-bottom: 20px;
  }
}
