.pagination-bar-container {
  display: flex;
  margin-right: auto;
}

.pagination-element {
  background-color: var(--grey-elements);
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  display: flex;
  height: 40px;
}

.page-number-display {
  margin: auto 0.8rem auto 0.8rem;
  width: 60px;
  border: 1px solid var(--grey-elements);
  background-color: transparent;
}

.pagination-button {
  padding: 0.2rem;
  border: none;
  width: 50px;
  cursor: pointer;
  color: var(--white);
}

.bottom-pagination {
  width: 200px;
  margin: 20px auto;
}
