/* .coin-container-topbar {
  display: flex;
  justify-content: space-around;
}

.coin-INS {
  display: flex;
  align-items: center;
  padding-right: 24px;
  min-width: 300px;
  text-align: left;
}

.name-text {
  margin-left: 62px;
}

.symbol-text {
  margin-left: 43px;
}

.coin-row {
  display: flex;
  flex-direction: row;
  justify-items: start;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid #d7d7d7;
} */
