.coin-price-btc {
  width: 50%;
  text-align: left;
  margin-left: 20%;
  background-color: transparent;
}

.coin-index {
  padding-right: 20px;
  background-color: transparent;
}

.coin-index-number {
  padding-right: 26px;
  background-color: transparent;
}

.coin-symbol-btc {
  text-align: left;
  margin-left: 20px;
  background-color: transparent;
}

.top-seven {
  text-align: center;
}

@media screen and (max-width: 450px) {
  .coin-symbol-btc {
    display: none;
  }

  #btc-coin {
    padding: 0px !important;
  }

  .coin-price-btc {
    margin: 0px;
    margin-left: -50px;
    width: 100px;
    text-overflow: ellipsis !important;
  }
}
